extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="post")
    input(type="text", name="userid")
    input(type="password", name="password")
    input(type="submit", value="Login")
